@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout {
    @apply flex justify-center items-center min-h-screen;
  }
  .btn-indigo {
    @apply bg-indigo-600 h-9 w-20 flex justify-center items-center text-white rounded-md;
  }
  .btn-basic {
    @apply h-9 w-20 flex justify-center items-center text-white rounded-md;
  }
}

.btn {
  background: hsla(136, 100%, 35%, 1);

  background: linear-gradient(
    135deg,
    hsla(136, 100%, 35%, 1) 3%,
    hsla(175, 44%, 20%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(136, 100%, 35%, 1) 3%,
    hsla(175, 44%, 20%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(136, 100%, 35%, 1) 3%,
    hsla(175, 44%, 20%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00B530", endColorstr="#1D4A46", GradientType=1 );

  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}
